---
import Button from '@components/Button.astro';
import { Image } from 'astro:assets';

interface Props
{
    vertical: boolean;
    imgFull: boolean;
    subtitle: string;
    title: string;
    titleWidth: number;
    buttonText: string;
    buttonLink: string;
    buttonBg?: string;
    img: any;
    accentColor: string;
    background: string
    color?: string;
    section?: string
}

const props = Astro.props
---

<div class="suite_item flex rounded-3xl relative overflow-clip p-20" class:list={[props.vertical && 'flex-col col-span-1 min-h-[850px]', !props.vertical && 'flex-row col-span-2 min-h-[486px]']} style=`background-color: ${props.background}; color: ${props.color}` section-retail={props.section && props.section}>
    <div class="flex flex-col text-center items-center relative z-10" class:list={!props.vertical && 'self-center w-1/3'}>
        <div class="_14 mb-6" style=`color: ${props.accentColor};`>{props.subtitle}</div>
        <h4 class="_40 mb-8" style=`max-width: ${props.titleWidth}px`>{props.title}</h4>
        <Button link={props.buttonLink} text={props.buttonText} background={props.buttonBg}/>
    </div>
    <div class:list={[props.imgFull && 'absolute inset-0', !props.imgFull && 'absolute top-20 w-[430px] right-32']}>
        <Image src={props.img} alt={props.title} width={props.img.width} height={props.img.height}/>
    </div>
</div>