---
import Layout from "@layout/Layout.astro"
import Hero from "@components/Pages/Home/Hero.astro"
import VideoSection from "@components/Pages/Home/VideoSection.astro"
import AnimatedDescription from "@components/AnimatedDescription.astro"
import DividerSection from "@components/DividerSection.astro"
import Features from "@components/Pages/Home/Features.astro"
import Experience from "@components/Pages/Home/Experience.astro"
import PhoneSection from "@components/Pages/Home/PhoneSection.astro"
import Steps from "@components/Pages/Home/Steps.astro"
import Galery from "@components/Pages/Home/Galery.astro"
import Pallete from "@components/Pages/Home/Pallete.astro"
import Suite from "@components/Pages/Home/Suite.astro"
import Footer from "@components/Footer.astro"

import { getSanity } from "@lib/api";
import { getImageUrl } from "@lib/getImage"

const seo = await getSanity('homeSeo')
const img = getImageUrl(seo[0].image).url()
const phraseFirst = await getSanity('homePhraseFirst')
const phraseSecond = await getSanity('homePhraseSecond')
const footer = await getSanity("footer")
---

<Layout title={seo[0].title} barbaPage="home" descr={seo[0].descr} img={img}>
	<Hero />
	<VideoSection />
	<section class="dark-section pt-52 pb-48 tablet:pb-36 tablet:pt-36 sm:pt-40 sm:pb-24">
		<div class="_container">
			<AnimatedDescription style="w-[57.375rem]" text={phraseFirst[0].title} />
		</div>
	</section>
	<DividerSection color="dark-section"/>
	<Features />
	<Experience />
	<PhoneSection />
	<Steps />
	<section class="pt-32 sm:pt-20">
		<div class="_container">
			<AnimatedDescription style="w-[57.375rem]" text={phraseSecond[0].title} />
		</div>
	</section>
	<Galery />
	<Pallete />
	<DividerSection color="white-section" />
	<Suite />
	<Footer {...footer[0]}/>
</Layout>