---
import { getSanity } from "@lib/api"
import Button from "./Button.astro"
import Logo from "./Logo.astro"
import Linkedin from './Socials/Linkedin.astro'
import FaceBook from './Socials/FaceBook.astro'
import Instagram from './Socials/Instagram.astro'
import YouTube from './Socials/YouTube.astro'

const section = await getSanity("footer")

const props = Astro.props
---

<footer class="black-section pt-36" white-trigger>
    <div class="_container">
        <div class="flex flex-col justify-center items-center m-auto text-center mb-36 tablet-sm:mb-20">
            <p class="_14 opacity-40 capitalize mb-7">{section[0].subtitle}</p>
            <div class="mb-4 tablet-sm:mb-5">
                <h4 class="text-center _60 m-auto text-balance title">{section[0].title}</h4>
            </div>
            <p class="descr _18 opacity-50 max-w-[590px] mb-14 tablet-sm:mb-7">{section[0].description}</p>
            <Button text="Request demo" link={section[0].btnLink} background="#0081FE" color="#FFFFFF" weight={400}/>
        </div>

        <div class="grid py-7 grid-cols-3 relative tablet-sm:flex tablet-sm:flex-col tablet-sm:pt-0 tablet-sm:pb-10">
            <div class="absolute top-0 left-0 right-0 h-px bg-current opacity-10 tablet-sm:relative tablet-sm:w-full tablet-sm:order-2 tablet-sm:mb-7"></div>

            <div class="self-center flex items-center tablet-sm:order-1 tablet-sm:mb-8">
                <a class="w-28" href='/'>
                    <Logo />
                </a>
            </div>
            
            <div class="flex flex-row gap-7 justify-self-center tablet-sm:order-3 tablet-sm:mb-8 tablet-sm:self-center">
                <a href={section[0].linkedin} target="_blank" class="social flex items-center justify-center aspect-square w-11 rounded-full">
                    <Linkedin />
                </a>

                <a href={section[0].facebook} target="_blank" class="social flex items-center justify-center aspect-square w-11 rounded-full">
                    <FaceBook />
                </a>
                
                <a href={section[0].instagram} target="_blank" class="social flex items-center justify-center aspect-square w-11 rounded-full">
                    <Instagram />
                </a>

                <a href={section[0].youtube} target="_blank" class="social flex items-center justify-center aspect-square w-11 rounded-full">
                    <YouTube />
                </a>
            </div>

            <div class="flex flex-row gap-9 justify-self-end items-center tablet-sm:order-4 tablet-sm:self-center">
                <a href="/" class="policy _16 opacity-50">Terms & Conditions</a>
                <a href="/" class="policy _16 opacity-50">Privacy policy</a>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
    .social
    {
        border: 1px solid color-mix(in srgb, currentColor, transparent 90%);
        transition: border-color var(--color-ease);

        &:hover
        {
            border-color: currentColor;
        }
    }

    .policy
    {
        transition: opacity var(--color-ease);

        &:hover
        {
            opacity: 1;
        }
    }

    .descr
    {
        line-height: 1.83;
        font-weight: 400;
    }
</style>