---
import Title from "@components/Title.astro"
import ExperienceItem from "./Experience/ExperienceItem.astro";
import BlurBg from '@components/BlurBg.astro'

import mask from '@static/mac.webp'
// import video from '/Video02.mp4'
import { getSanity } from "@lib/api";
import { getImage } from "astro:assets";

const section = await getSanity('homeMockup')

const img = await getImage({src: mask, format: 'webp', quality: '80', inferSize: true})

const video = section[0].video
---

<section class="dark-section pt-48 pb-48 tablet:pt-36 tablet:pb-36 sm:pt-24 sm:pb-24" load-videos>
    <div class="_container">
        <Title h2={true} size={550} title={section[0].text}/>

        <div class="video-section relative w-full mt-24 tablet-sm:mt-20 sm:mt-12">
            <div class="video-parent relative z-10 aspect-[1480/896]">
                <div class="absolute inset-0 z-20">
                    <img data-src={img.src} alt="">
                </div>
                <BlurBg />
                <div class="relative aspect-[1580/1036.73] left-1/2 top-[1.5%] -translate-x-[49.8%] w-[72.5%]">
                    <div class="background-video">
                        <video muted crossorigin="anonymous" loop playsinline>
                            <div data-src={video}></div>
                        </video>
                    </div>
                </div>
            </div>
            <!-- <img fetchpriority="low" loading="lazy" data-src={getImg} alt="Video Section Img" class="relative z-10"/> -->
        </div>

        <div class="flex flex-row justify-center gap-36 mt-12 tablet-sm:flex-col tablet-sm:gap-12 tablet-sm:justify-start">
            <ExperienceItem title={section[0].item1title} descr={section[0].item1text}/>
            <ExperienceItem title={section[0].item2title} descr={section[0].item2text}/>
        </div>
    </div>
</section>