---
import Title from "@components/Title.astro"
import ExperienceItem from "./Experience/ExperienceItem.astro";

import { getSanity } from "@lib/api";
import { getImageUrl } from "@lib/getImage";
import { Image } from "astro:assets";
import { getImage } from "astro:assets";

const section = await getSanity('homeMockup')

const getImg = getImageUrl(section[0].image).url()

const img = await getImage({src: getImg, format: 'webp', quality: '80', inferSize: true})
---

<section class="dark-section pt-48 pb-48 tablet:pt-36 tablet:pb-36 sm:pt-24 sm:pb-24">
    <div class="_container">
        <Title h2={true} size={550} title={section[0].text}/>

        <div class="video-section relative w-full mt-24 tablet-sm:mt-20 sm:mt-12">
            <Image src={img.src} alt="Video Section Img" inferSize={true} class="relative z-10"/>
        </div>

        <div class="flex flex-row justify-center gap-36 mt-12 tablet-sm:flex-col tablet-sm:gap-12 tablet-sm:justify-start">
            <ExperienceItem title={section[0].item1title} descr={section[0].item1text}/>
            <ExperienceItem title={section[0].item2title} descr={section[0].item2text}/>
        </div>
    </div>
</section>