---
import GalerySlider from "./Galery/GalerySlider.astro"
import GaleryTab from "./Galery/GaleryTab.astro"

import { getSanityOrder } from "@lib/apiOrderable"
import { getRefs } from "@lib/getRefs"

const section = await getSanityOrder('galeryHome')
const refs = await getRefs('galeryItem', section[0].galery)

const sortedRefs = section[0].galery.map(galeryItem => 
{
    return refs.find(item => item._id === galeryItem._ref);
})

const tabs = 
[
    {title: section[0].title1, descr: section[0].descr1},
    {title: section[0].title2, descr: section[0].descr2},
    {title: section[0].title3, descr: section[0].descr3},
]
---

<section class="pt-48 pb-48 tablet:pt-36 tablet:pb-36 galery sm:pt-20 sm:pb-24" load-videos>
    <div class="_container">
        <div class="flex flex-col gap-10">
            <div class="galery_list aspect-[1480/800] w-full relative overflow-clip rounded-[20px] sm:aspect-[388/551]">
                <!-- <GalerySlider props={item1}/>
                <GalerySlider props={item2}/>
                <GalerySlider props={item3}/> -->
                <GalerySlider slides={sortedRefs}/>
            </div>
        </div>
        <div class="galery_tabs grid grid-cols-3 gap-7 mt-10 tablet-sm:flex tablet-sm:flex-col">
            {tabs.map(tab => <GaleryTab title={tab.title} descr={tab.descr}/>)}
        </div>
    </div>    
</section>