---
import video1 from '/videos/Diversity_1.mp4'
import { getSanity } from "@lib/api"
import { getRefs } from "@lib/getRefs"
import { PortableText } from "astro-portabletext";

const section = await getSanity('homeColors')

const colors = await getRefs('colorItem', section[0].colors)

const sortedColors = section[0].colors.map(galeryItem => 
{
    return colors.find(slider => slider._id === galeryItem._ref);
})

const videos = [video1]
---

<section class="white-section pt-48 pb-48 tablet:pt-36 tablet:pb-36 sm:pt-24 sm:pb-24">
    <div class="_container short pallete">
        <div class="grid grid-cols-[1fr,_1.4fr] grid-rows-2 gap-x-10 tablet-sm:flex tablet-sm:flex-col tablet-sm:gap-10">

            <div class="block col-span-1 row-span-1 col-start-1 self-end">
                <div class="_14 sm:text-14 capitalize pb-10 tablet-sm:pb-7 sm:pb-5"><PortableText value={section[0].subtitle} /></div>
                <div class="_60 pb-6 tablet-sm:pb-4 sm:pb-5"><PortableText value={section[0].heading} /></div>
                <div class="_22 sm:text-16 opacity-50">{section[0].description}</div>
            </div>

            <div class="pallete-list row-span-2 col-span-1 col-start-2 row-start-1 block relative z-10 aspect-[668/950] overflow-clip rounded-[20px] tablet-sm:w-2/3 sm:w-full">

                {videos.map(video =>  
                    <div class="pallete-img absolute inset-0">
                        <div class="background-video">
                            <video muted autoplay crossorigin="anonymous" loop playsinline>
                                <source data-src={video} type="video/mp4" />
                            </video>
                        </div>
                    </div>
                )}
                <div class="hidden">
                    <video muted crossorigin="anonymous" loop playsinline>
                        <source type="video/mp4" />
                    </video>
                </div>
            </div>

            <div class="block col-span-1 row-span-1 col-start-1 max-w-[422px] self-end pb-3 tablet-sm:self-start tablet-sm:max-w-none">
                <div class="bg-black h-px opacity-20 w-full mb-5"></div>
                <div class="pallete_color _14 uppercase pb-8">COLOR</div>
                <div class="flex flex-row flex-wrap gap-6 sm:gap-4">
                    {sortedColors.map(color => <div class="pallete_item relative aspect-square w-[38px] rounded-full" style={`background-color: ${color.color}`}></div>)}
                </div>
            </div>
        </div>
    </div>
</section>