---
import Title from "@components/Title.astro"
import SuiteItem from "./Suite/SuiteItem.astro"
import { getSanity } from "@lib/api"
import { getImageUrl } from "@lib/getImage"

const section = await getSanity('services')

const img1 = getImageUrl(section[0].item1image).url()
const img2 = getImageUrl(section[0].item2image).url()
const img3 = getImageUrl(section[0].item3image).url()
---

<section class="pt-48 pb-48 tablet:pt-36 tablet:pb-36 white-section sm:pt-24 sm:pb-24">
    <div class="_container">
        <div class="flex flex-col justify-center items-center m-auto gap-8 text-center mb-32 tablet-sm:mb-10 tablet-sm:gap-7">
            <Title title={section[0].heading} h2={true} size={900}/>
            <p class="_22 opacity-50 max-w-[730px] sm:text-16">{section[0].description}</p>
        </div>
        <div class="grid grid-cols-2 gap-5 tablet-sm:flex tablet-sm:flex-col">
            <SuiteItem 
                title={section[0].item1title} 
                titleWidth={400}
                subtitle={section[0].item1text} 
                buttonText="Early request"
                buttonLink={section[0].item1link}
                buttonTarget={section[0].item1linktarget}
                accentColor="#189AF9"
                vertical={true}
                imgFull={true}
                background="#EDEDED"
                img={img1}
            />
            <SuiteItem 
                title={section[0].item2title} 
                titleWidth={400}
                subtitle={section[0].item2text} 
                buttonText="Early request"
                buttonLink={section[0].item2link}
                buttonTarget={section[0].item2linktarget}
                accentColor="#FC502A"
                vertical={true}
                imgFull={true}
                background="#282828"
                buttonBg="rgba(255,255,255,0.1)"
                color="white"
                img={img2}
            />
            <SuiteItem 
                title={section[0].item3title} 
                titleWidth={280}
                subtitle={section[0].item3text} 
                buttonText="Contact us"
                buttonLink={section[0].item3link}
                buttonTarget={section[0].item3linktarget}
                accentColor="#898FA6"
                vertical={false}
                imgFull={false}
                background="#E6E6E6"
                img={img3}
                section="section-retail"
            />
        </div>
    </div>
</section>