---  
import Subtitle from "@components/Subtitle.astro"
import Title from "@components/Title.astro"
import VideoSectionBg from './VideoSection/VideoSectionBg.astro'

import mask from '@static/tablet.webp'
import { getImage } from "astro:assets"
import { getSanity } from "@lib/api";
import BlurBg from "@components/BlurBg.astro"

const section = await getSanity('homeDesign')

const img = await getImage({src: mask, width: 1588, height: 1008, quality: 90})
const video = section[0].video
---

<section class="dark-section pt-48 tablet:pt-36 sm:pt-24" white-trigger section-design load-videos>
    <div class="_container">
        <div class="flex flex-col gap-12 sm:gap-7 sm:mb-6">
            <Subtitle color="#189AF9" title={section[0].subtitle} alignText="text-center" align="justify-center"/>
            <Title h2={true} size={550} title={section[0].heading}/>
        </div>

        <div class="video-parent video-section relative w-full aspect-[1588/1008]">
            <div class="absolute inset-0 z-20 pointer-events-none">
                <img data-src={img.src} alt="">
            </div>
            <BlurBg />
            <div class="absolute z-10 aspect-[1366/1024] left-1/2 top-1/2 -translate-x-[51%] -translate-y-[54%] w-[59.1%]">
                <div class="background-video">
                    <video data-video-el muted crossorigin="anonymous" loop playsinline>
                        <div data-src={video}></div>
                    </video>
                </div>
            </div>
            <VideoSectionBg />
        </div>
    </div>
</section>