---
import { Image } from "astro:assets"
import { getImage } from "astro:assets"

const props = Astro.props

const img = await getImage({src: props.img})
---

<div class="swiper-slide">
    <div class="feature-slide flex flex-col items-center relative w-full h-full pt-[4.5rem] pb-24 text-white text-center">
        <div class="_14 relative z-10 opacity-60 mb-6">CREATE</div>
        <div class="_32 relative z-10 flex-grow">{props.title}</div>
        <div class="aspect-square w-32 relative z-10">
            <Image src={img.src} alt={props.title} width={img.attributes.width} height={img.attributes.height} />
        </div>
    </div>
</div>

<style lang="scss">
    ._14
    {
        font-weight: 400;
    }
</style>