---
import  SpeedInsights  from "@vercel/speed-insights/astro"
import Nav from "@components/Nav/Nav.astro";
import Cursor from "@components/Cursor.astro";
import Burger from "@components/Burger.astro";
import Loader from "@components/Loader.astro";

interface Props 
{
	title: string;
	barbaPage: string;
	descr: string;
	img: string;
}

const { title } = Astro.props;
const { barbaPage } = Astro.props;
const { descr } = Astro.props;
const { img } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={descr} />
		<meta content={title} property="og:title">
		<meta content={descr} property="og:description">
		<meta content={img} property="og:image">
		<meta content={title} property="twitter:title">
		<meta content={descr} property="twitter:description">
		<meta content={img} property="twitter:image">
		<meta property="og:type" content="website">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>	
	<body data-transition="wrapper">
		<div class="global">
			<Loader />
			<Cursor />
			<Nav />
			<Burger />
		</div>
		
		<main data-transition="container" data-transition-page={barbaPage}>
			<slot />
		</main>

		<div class="rule"></div>

		<SpeedInsights />
	</body>
</html>

<script>
	import '../styles/styles.scss'
	import '../js/App.js'
</script>
